name: CMake (Windows)

on: [push, pull_request]

env:
  BUILD_TYPE: RelWithDebInfo
  CMAKE_BUILD_PARALLEL_LEVEL: 3

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Cache vcpkg
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/vcpkg_cache
        key: vcpkg-${{ hashFiles('vcpkg.json') }}

    - name: Configure CMake
      env:
        VCPKG_BINARY_SOURCES: clear;files,${{ github.workspace }}/vcpkg_cache,readwrite
      run: |
        cmake -A x64 -S . -B build  "-DCMAKE_BUILD_TYPE=${env:BUILD_TYPE}" `
          "-DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake"

    - name: Build
      run: cmake --build build --config ${env:BUILD_TYPE}

    - name: Test
      run: ctest -V -C ${env:BUILD_TYPE} --test-dir build
